
<div class="sidebar">
    <nav class="side-navbar">
        <a class="sb-item active" href="#">
            <span class="far fa-home fa-lg sb-icon"></span>
            <label>Dashboard</label>
        </a>

        <a class="sb-item" href="#">
            <span class="fal fa-cog fa-lg sb-icon"></span>
            <label>Settings</label>
        </a>
    </nav>
</div>